@import "breakPoint.scss";

.conect {
    display: flex;
    justify-content: space-around;
    @include breakPoint(md){
        display: block;
        text-align: center;
    }
    .sns{
        margin-top: 100px;
        img{
            border-radius: 50%;
            width: 300px;
            height: 300px;
            align-self: center;
            @include breakPoint(sm){
                width: 200px;
                height: 200px;
            }
        }
        p {
            font-size: 30px;
            font-weight: bold;
            text-align: center;
        }
    }

}